.list-container{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    max-width: 400px;
}





/* Item */

.item-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 15px;
    
    transition: all ease 0.3s;
    box-sizing: border-box;
}

.item-container:hover{
    box-shadow: 0px 5px 6px #111;
}

.item-selected{
    box-shadow: 0px 5px 6px #111;
}

.item-container:hover .item-button-container button{
    transition: all ease 0.3s;
    visibility: visible;
    opacity: 1;
}





/* item-check and item-text */

.item-text-container{
    display: flex;
}

.item-check{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #fff;
    border-radius: 5px;
    color: #222;
    transition: all ease 0.3s;
}

.item-check > *{
    display: none;
}

.item-text{
    color: #fff;
    background:none;
    border: none;
}






/* Buttons */

.item-button-container{
    display: flex;
}

.item-button-container button{
    cursor: pointer;
    background:none;
    border: none;
    font-size: 16px;
    padding: 0px 15px;

   
}

.item-button-container button:hover{
    color: #fff;
}

.item-button-edit{
    color: #787878;
    visibility: hidden;
    opacity: 0;
}

.item-button-delete{
    color: #787878;
    visibility: hidden;
    opacity: 0;
}

.item-button-confirm{
    color: #FFF;
}









/* Completed */

.item-completed .item-check{
    background-color: #fff;
    transition: all ease 0.3s;
}

.item-completed .item-check > *{
    display: block;
}

.item-completed .item-text{
    text-decoration-line: line-through;
    color: #666;
}